module.exports = {
    apiUrl: "https://graph.microsoft.com/v1.0/",
    client_id: "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX",
    client_secret: "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXx",
    scope:"files.readwrite%20files.readwrite.all%20offline_access",
    redirect: "http://localhost/thisis",
    baseAuthUrl: "https://login.microsoftonline.com",
    msAuth: "/common/oauth2/V2.0/",
    msToken: "/common/oauth2/V2.0/token",
    cacheDir: "cache/",
    debug: false
  };
